/*  USE FLEX BOX!! LOOK IT UP FIRST!*/

/* Link colors and visted colors*/
a:visited {
  color: rgba(124, 124, 124, 0.733);
}
a:link {
  color: rgba(27, 51, 185, 0.76);
}

/* text stuff*/
p {
  background-color: lightcyan;
  font: arial;
  border-width:5px;  
  border-style:inset;
}

/* Background Image*/
#id  {
  background-image: url("../images/computer_and_film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* Background Image for Home*/
#homeBody  {
  background-image: url("../images/Home_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Adobe Spark page*/
#adobeSprkBody  {
  background-image: url("../images/purple_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Sets a new border for content */
.page-wrapper {
  margin-left: 30%;
  margin-right: 30%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  background-color: rgba(129, 129, 129, 0.712);
  
}

/* */



