
/* Link colors and visted colors*/
a:visited {
  font-family: garamond;
  color: rgba(40, 233, 56, 0.733);
}
a:link {
  font-family: garamond;
  color: rgba(27, 51, 185, 0.76);
}

/* text stuff*/
p { 
  font-family: garamond;
  font-size: 17px;
  line-height: 1.5;
  border-width:5px;  
  border-style:inset;
  border-color: rgba(129, 129, 129, 0.001) rgb(255, 255, 255) rgb(255, 255, 255) rgba(129, 129, 129, 0.001) /* 1 = top, 2 = right, 3 = bottom and 4 = left */  
}

.projectExampleText {
  margin-left: 5%;
  margin-right: 5%;
}

/* Spaces out text on Welcome page to make it cover more of the webpage*/
.homeWelcome p {
  margin-top: 10%;
  width: auto;
  text-align: center;
  border-color: rgba(129, 129, 129, 0.001) rgb(129, 129, 129, 0.001) rgb(255, 255, 255) rgba(129, 129, 129, 0.001) /* 1 = top, 2 = right, 3 = bottom and 4 = left */  
}

/* Sets the heading of each page*/
h1 {
  width: 100%;
  font-family: serif;
}

/* fixes the head to top of the page */
header  {
  top: 0;
  width: 100%;
}
/* For the TOP menu */
.topMenu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
.dropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDown:hover .dropDownContent {display: block;}



/* fixes the footer to the bottom of the page */
footer  {
  bottom: 0;
  min-width: 100%;
}

#homeBody main {
  width: 100%;
}

/* Centers the project title */
.projectTitle {
  text-align: center;
}


/* Sets no margins around body */
body  {
  margin: 0 auto;
}


/* Sets a new border for content */
.page-wrapper {
  width: 70vw;
	margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(129, 129, 129, 0.712);
  
}

#careerEssayTitle {
  width: 100%;
}

.imageExample {
  max-width: 100%
}


/* resized the example doc */
.careerEssayDoc {
  width: 65vw;
  height: 60vw;
  margin-left: 2.5vw;
}
/* resized the example doc */
.mockInterviewDoc {
  width: 65vw;
  height: 60vw;
  margin-left: 2.5vw;
}
/* resized the example doc */
.antiAnxietyDoc {
  width: 65vw;
  height: 60vw;
  margin-left: 2.5vw;
}

.adobeSparkVid  {
  width: 70vw;
  height: 60vw;
  border-width: 0;
}


.mancalaProjectExampleImage {
  width: 100%;
  height: auto;
}

#resumeDownloadButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  width: auto;
  margin: 0 auto;
}


/*  MEDIA QUERIES!!  */
@media (max-width: 600px) {
  p {font-size: 20px;}
}





/*  BACKGROUND IMAGES BELOW!!  */

/* Background Image for Home*/
#homeBody  {
  background-image: url("../images/Home_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}
.homePageWrap {
  height: 100vw;
}


/* Background Image for Adobe Spark page*/
#adobeSprkBody  {
  background-image: url("../images/purple_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Computing Innovation*/
#computingInoBody  {
  background-image: url("../images/flowers_in_cup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Multiable Choice Story*/
#multiChoiceStoryBody  {
  background-image: url("../images/hand_holds_flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Zen Garden Challenge*/
#zenGardenBody  {
  background-image: url("../images/purple_lightning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image Tech innocation for humanity*/
#AntiAnxiBody  {
  background-image: url("../images/purple_sky2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Career of choice Essay*/
#careerEssayBody {
  background-image: url("../images/purple_rose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Mock interview */
#mockInterviewBody  {
  background-image: url("../images/closeup_water_on_purple_flower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for About Me*/
#aboutMeBody  {
  background-image: url("../images/flowers_right_side.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




/* Background Image for Contact*/
#mancalaBody  {
  background-image: url("../images/purple_light_thing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

/* Background Image for Contact*/
#id  {
  background-image: url("../images");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for resume*/
#resumeBody  {
  background-image: url("../images/purple_book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
/* */



