
/* Link colors and visted colors*/
a:visited {
  font-family: garamond;
  color: rgba(40, 233, 56, 0.733);
}
a:link {
  font-family: garamond;
  color: rgba(27, 51, 185, 0.76);
}

/* text stuff*/
p { 
  font-family: garamond;
  font-size: 17px;
  border-width:5px;  
  border-style:inset;
  border-color: rgba(129, 129, 129, 0.001) rgb(255, 255, 255) rgb(255, 255, 255) rgba(129, 129, 129, 0.001) /* 1 = top, 2 = right, 3 = bottom and 4 = left */  
}

.projectExampleText {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-family: serif;
}

/* fixes the head to top of the page */
header  {
  top: 0;
}

/* fixes the footer to the bottom of the page */
footer  {
  bottom: 0;
  min-width: 100%;
}

#homeBody main {
  width: 100%;
}

/* Centers the project title */
.projectTitle {
  text-align: center;
}

/* Menu CSS*/
.topMenu  {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  order: -1;
  min-width: 100%;
  /* position: fixed; */
}


/* Sets a new border for content */
.page-wrapper {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(129, 129, 129, 0.712);
  
}
/* Extends the page wrapper for my about me */
#aboutMePageWrap  {
  height: 1100px;
}

#careerEssayTitle {
  width: 100%;
}


/* resized the example doc */
.careerEssayDoc {
  width: 789.112px;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}
/* resized the example doc */
.mockInterviewDoc {
  width: 789.112px;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}
/* resized the example doc */
.antiAnxietyDoc {
  width: 789.112px;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}

.mancalaProjectExampleImage {
  width: 100%;
  height: auto;
}

/*  BACKGROUND IMAGES BELOW!!  */

/* Background Image for Home*/
#homeBody  {
  background-image: url("../images/Home_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Adobe Spark page*/
#adobeSprkBody  {
  background-image: url("../images/purple_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Computing Innovation*/
#computingInoBody  {
  background-image: url("../images/flowers_in_cup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Multiable Choice Story*/
#multiChoiceStoryBody  {
  background-image: url("../images/hand_holds_flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Zen Garden Challenge*/
#zenGardenBody  {
  background-image: url("../images/purple_lightning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image Tech innocation for humanity*/
#AntiAnxiBody  {
  background-image: url("../images/purple_sky2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Career of choice Essay*/
#careerEssayBody {
  background-image: url("../images/purple_rose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Mock interview */
#mockInterviewBody  {
  background-image: url("../images/closeup_water_on_purple_flower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for About Me*/
#aboutMeBody  {
  background-image: url("../images/flowers_right_side.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1100px;

}


/* Background Image for Contact*/
#id  {
  background-image: url("../images");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Background Image for Contact*/
#mancalaBody  {
  background-image: url("../images/purple_light_thing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* */



